{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "strict"
}
